.66_2449 { 
	overflow:hidden;
}.e66_2449 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:4349px;
	position:absolute;
}.e67_18 { 
	width:1442px;
	height:1478px;
	position:absolute;
	left:-4px;
	top:1092px;
	background-image:url(images/image_how_bk.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2450 { 
	background-image:linear-gradient(0deg, rgba(254.00000005960464, 242.00000077486038, 240.00000089406967, 1) 0%,rgba(254.00000005960464, 242.00000077486038, 240.00000089406967, 0) 100%) ;
	width:1440px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}.e66_2451 { 
	background-color:rgba(254.00000005960464, 242.00000077486038, 240.00000089406967, 1);
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e66_2453 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:388px;
	height:405px;
	position:absolute;
	left:526px;
	top:1387px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}.e66_2454 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:388px;
	height:405px;
	position:absolute;
	left:932px;
	top:1834px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}.66_2454 { 
	border:2px solid rgba(255, 252.87500202655792, 252.87500202655792, 1);
}.e66_2455 { 
	box-shadow:0px 4px 15px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:388px;
	height:405px;
	position:absolute;
	left:120px;
	top:1387px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}.66_2455 { 
	border:2px solid rgba(255, 252.87500202655792, 252.87500202655792, 1);
}.e66_2456 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:388px;
	height:405px;
	position:absolute;
	left:121px;
	top:1834px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}.66_2456 { 
	border:2px solid rgba(255, 252.87500202655792, 252.87500202655792, 1);
}.e66_2457 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:388px;
	height:405px;
	position:absolute;
	left:932px;
	top:1387px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}.e66_2473 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:244px;
	height:47px;
	position:absolute;
	left:120px;
	top:823px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e66_2474 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:328px;
	height:180px;
	position:absolute;
	left:150px;
	top:1552px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2475 { 
	width:117px;
	height:38px;
	position:absolute;
	left:586px;
	top:1456px;
}.e66_2476 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:117px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2477 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:328px;
	height:248px;
	position:absolute;
	left:556px;
	top:1552px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
}.e66_2478 { 
	color:rgba(49.00000087916851, 50.000000819563866, 134.00000721216202, 1);
	width:557px;
	height:47px;
	position:absolute;
	left:441px;
	top:2331px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e66_2479 { 
	color:rgba(49.00000087916851, 50.000000819563866, 134.00000721216202, 1);
	width:491px;
	height:47px;
	position:absolute;
	left:475px;
	top:1298px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e66_2480 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:92px;
	height:38px;
	position:absolute;
	left:180px;
	top:1456px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2481 { 
	width:622px;
	height:193px;
	position:absolute;
	left:409px;
	top:4108px;
}.e66_2482 { 
	color:rgba(89.00000229477882, 103.0000014603138, 176.00000470876694, 1);
	width:288px;
	height:47px;
	position:absolute;
	left:167px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e66_2483 { 
	color:rgba(54.00000058114529, 64.00000378489494, 79.00000289082527, 1);
	opacity:0.6000000238418579;
	width:622px;
	height:28px;
	position:absolute;
	left:0px;
	top:77px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e66_2484 { 
	color:rgba(54.00000058114529, 64.00000378489494, 79.00000289082527, 1);
	opacity:0.6000000238418579;
	width:190px;
	height:21px;
	position:absolute;
	left:216px;
	top:123px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e67_26 { 
	width:153px;
	height:30px;
	position:absolute;
	left:235px;
	top:163px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_28 { 
	width:48px;
	height:24px;
	position:absolute;
	left:120px;
	top:28px;
	background-image:url(images/image_log.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2521 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:173px;
	height:38px;
	position:absolute;
	left:992px;
	top:1456px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2522 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:328px;
	height:157px;
	position:absolute;
	left:962px;
	top:1552px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2523 { 
	width:160px;
	height:42px;
	position:absolute;
	left:1160px;
	top:19px;
}.e66_2524 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(249.00000035762787, 113.00000086426735, 94.0000019967556, 1);
	width:160px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e66_2525 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:19px;
	position:absolute;
	left:31.5px;
	top:11.5px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e66_2526 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:109px;
	height:38px;
	position:absolute;
	left:992px;
	top:1903px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2527 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:328px;
	height:216px;
	position:absolute;
	left:962px;
	top:2000px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2528 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:388px;
	height:405px;
	position:absolute;
	left:526px;
	top:1834px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}.66_2528 { 
	border:2px solid rgba(255, 252.87500202655792, 252.87500202655792, 1);
}.e66_2529 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:328px;
	height:144px;
	position:absolute;
	left:556px;
	top:2000px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2530 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:492px;
	height:186px;
	position:absolute;
	left:162px;
	top:2536px;
	font-family:Roboto;
	text-align:justified;
	font-size:20px;
	letter-spacing:0;
}.e66_2531 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:128px;
	height:38px;
	position:absolute;
	left:162px;
	top:2480px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2532 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:246px;
	height:38px;
	position:absolute;
	left:778px;
	top:3342px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2533 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:492px;
	height:173px;
	position:absolute;
	left:162px;
	top:3398px;
	font-family:Roboto;
	text-align:justified;
	font-size:20px;
	letter-spacing:0;
}.e66_2534 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:171px;
	height:38px;
	position:absolute;
	left:162px;
	top:3342px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2535 { 
	color:rgba(89.00000229477882, 103.0000014603138, 176.00000470876694, 1);
	width:491px;
	height:162px;
	position:absolute;
	left:120px;
	top:253px;
	font-family:Roboto;
	text-align:left;
	font-size:46px;
	letter-spacing:0;
}.e66_2536 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:119px;
	height:38px;
	position:absolute;
	left:181px;
	top:1903px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2537 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:328px;
	height:108px;
	position:absolute;
	left:151px;
	top:1998px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2538 { 
	width:492px;
	height:305px;
	position:absolute;
	left:162px;
	top:2911px;
	background-image:url(images/group_240_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2539 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:122px;
	height:38px;
	position:absolute;
	left:586px;
	top:1903px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2540 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:492px;
	height:110px;
	position:absolute;
	left:786px;
	top:3398px;
	font-family:Roboto;
	text-align:justified;
	font-size:20px;
	letter-spacing:0;
}.e66_2541 { 
	width:492px;
	height:304.5px;
	position:absolute;
	left:162px;
	top:3694px;
	background-image:url(images/group_242_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2542 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:689px;
	height:291px;
	position:absolute;
	left:120px;
	top:900px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2545 { 
	width:577px;
	height:814px;
	position:absolute;
	left:744px;
	top:2420px;
}.e66_2547 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:59px;
	height:38px;
	position:absolute;
	left:42px;
	top:60px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2548 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:492px;
	height:431px;
	position:absolute;
	left:42px;
	top:116px;
	text-align:left;
	font-size:20px;
	letter-spacing:undefined;
}.e67_34 { 
	width:577px;
	height:814px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2549 { 
	width:492px;
	height:392px;
	position:absolute;
	left:786px;
	top:2862px;
	background-image:url(images/group_241_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2550 { 
	width:820.5px;
	height:647px;
	position:absolute;
	left:576px;
	top:107px;
	background-image:url(images/group_213_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_24 { 
	width:154px;
	height:30px;
	position:absolute;
	left:120px;
	top:427px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2551 { 
	width:328px;
	height:116px;
	position:absolute;
	left:556px;
	top:1417px;
	background-image:url(images/group_235_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2552 { 
	width:328px;
	height:116px;
	position:absolute;
	left:556px;
	top:1864px;
	background-image:url(images/group_238_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2553 { 
	width:328px;
	height:116px;
	position:absolute;
	left:962px;
	top:1864px;
	background-image:url(images/group_239_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2554 { 
	width:492px;
	height:315.5px;
	position:absolute;
	left:786px;
	top:3674px;
	background-image:url(images/group_243_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2555 { 
	width:328px;
	height:116px;
	position:absolute;
	left:962px;
	top:1417px;
	background-image:url(images/group_236_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2556 { 
	width:328px;
	height:116px;
	position:absolute;
	left:150px;
	top:1417px;
	background-image:url(images/group_234_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2557 { 
	width:328px;
	height:116px;
	position:absolute;
	left:151px;
	top:1864px;
	background-image:url(images/group_237_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_22 { 
	width:160px;
	height:54px;
	position:absolute;
	left:120px;
	top:547px;
	background-image:url(images/image_btn1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_20 { 
	width:659px;
	height:391px;
	position:absolute;
	left:781px;
	top:811px;
	background-image:url(images/image_who_r1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_21 { 
	width:160px;
	height:53px;
	position:absolute;
	left:347px;
	top:547px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_35 { 
	width:577px;
	height:814px;
	position:absolute;
	left:120px;
	top:2420px;
	background-image:url(images/image_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_42 { 
	width:576px;
	height:734px;
	position:absolute;
	left:120px;
	top:3282px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_41 { 
	width:576px;
	height:734px;
	position:absolute;
	left:744px;
	top:3281px;
	background-image:url(images/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}