.66_2558 { 
	overflow:hidden;
}.e66_2558 { 
	background-color:rgba(255, 255, 255, 1);
	width:768px;
	height:6927px;
	position:absolute;
}.e67_46 { 
	width:577px;
	height:814px;
	position:absolute;
	left:86px;
	top:4225px;
	background-image:url(images/image_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_52 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:59px;
	height:38px;
	position:absolute;
	left:136px;
	top:4275px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e67_53 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:492px;
	height:431px;
	position:absolute;
	left:136px;
	top:4331px;
	text-align:left;
	font-size:20px;
	letter-spacing:undefined;
}.e67_16 { 
	width:768px;
	height:997px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2559 { 
	background-image:linear-gradient(0deg, rgba(249.00000035762787, 112.99997806549072, 93.99999439716339, 0) 2.083333395421505%,rgba(249.00000035762787, 113.00000086426735, 94.0000019967556, 1) 31.77083432674408%,rgba(249.00000035762787, 113.00000086426735, 94.0000019967556, 0) 100%) ;
	opacity:0.10000000149011612;
	width:768px;
	height:2264px;
	position:absolute;
	left:0px;
	top:1670px;
}.e66_2563 { 
	width:160px;
	height:42px;
	position:absolute;
	left:569px;
	top:30px;
}.e66_2564 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(249.00000035762787, 113.00000086426735, 94.0000019967556, 1);
	width:160px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e66_2565 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:19px;
	position:absolute;
	left:31.5px;
	top:11.5px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e66_2572 { 
	color:rgba(89.00000229477882, 103.0000014603138, 176.00000470876694, 1);
	width:612px;
	height:108px;
	position:absolute;
	left:78px;
	top:629px;
	font-family:Roboto;
	text-align:center;
	font-size:46px;
	letter-spacing:0;
}.e67_7 { 
	width:240px;
	height:47px;
	position:absolute;
	left:266px;
	top:756px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2598 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:244px;
	height:47px;
	position:absolute;
	left:259px;
	top:1400px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e66_2599 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:689px;
	height:291px;
	position:absolute;
	left:36px;
	top:1459px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2600 { 
	color:rgba(49.00000087916851, 50.000000819563866, 134.00000721216202, 1);
	width:491px;
	height:47px;
	position:absolute;
	left:139px;
	top:1830px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e66_2601 { 
	box-shadow:0px 3.4370369911193848px 12.888888359069824px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:333px;
	height:419px;
	position:absolute;
	left:36px;
	top:1907px;
	border-top-left-radius:34.37036895751953px;
	border-top-right-radius:34.37036895751953px;
	border-bottom-left-radius:34.37036895751953px;
	border-bottom-right-radius:34.37036895751953px;
}.66_2601 { 
	border:1.7185184955596924px solid rgba(255, 252.87500202655792, 252.87500202655792, 1);
}.e66_2602 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:281.505126953125px;
	height:216px;
	position:absolute;
	left:61.747352600097656px;
	top:2048.77783203125px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2603 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:91.89166259765625px;
	height:38px;
	position:absolute;
	left:86.494873046875px;
	top:1964px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2604 { 
	width:333px;
	height:419px;
	position:absolute;
	left:399px;
	top:1907px;
}.e66_2605 { 
	box-shadow:0px 3.4370369911193848px 6.8740739822387695px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:333px;
	height:419px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:34.37036895751953px;
	border-top-right-radius:34.37036895751953px;
	border-bottom-left-radius:34.37036895751953px;
	border-bottom-right-radius:34.37036895751953px;
}.e66_2606 { 
	width:116.86222076416016px;
	height:38px;
	position:absolute;
	left:50.49483108520508px;
	top:57px;
}.e66_2607 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:116.86222076416016px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2608 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:281px;
	height:253px;
	position:absolute;
	left:26px;
	top:142px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.5;
}.e66_2609 { 
	width:333px;
	height:419px;
	position:absolute;
	left:36px;
	top:2356px;
}.e66_2610 { 
	box-shadow:0px 3.4370369911193848px 12.888888359069824px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:333px;
	height:419px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:34.37036895751953px;
	border-top-right-radius:34.37036895751953px;
	border-bottom-left-radius:34.37036895751953px;
	border-bottom-right-radius:34.37036895751953px;
}.66_2610 { 
	border:1.7185184955596924px solid rgba(255, 252.87500202655792, 252.87500202655792, 1);
}.e66_2611 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:281.505126953125px;
	height:180px;
	position:absolute;
	left:25.74735450744629px;
	top:141.77783203125px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2612 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:189px;
	height:38px;
	position:absolute;
	left:50px;
	top:57px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2613 { 
	width:333px;
	height:419px;
	position:absolute;
	left:399px;
	top:2356px;
}.e66_2614 { 
	box-shadow:0px 3.4370369911193848px 6.8740739822387695px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:333px;
	height:419px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:34.37036895751953px;
	border-top-right-radius:34.37036895751953px;
	border-bottom-left-radius:34.37036895751953px;
	border-bottom-right-radius:34.37036895751953px;
}.e66_2615 { 
	width:119px;
	height:38px;
	position:absolute;
	left:49.99995803833008px;
	top:57px;
}.e66_2616 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:119px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2617 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:281px;
	height:151px;
	position:absolute;
	left:26px;
	top:142px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2618 { 
	width:333px;
	height:419px;
	position:absolute;
	left:36px;
	top:2805px;
}.e66_2619 { 
	box-shadow:0px 3.4370369911193848px 12.888888359069824px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:333px;
	height:419px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:34.37036895751953px;
	border-top-right-radius:34.37036895751953px;
	border-bottom-left-radius:34.37036895751953px;
	border-bottom-right-radius:34.37036895751953px;
}.66_2619 { 
	border:1.7185184955596924px solid rgba(255, 252.87500202655792, 252.87500202655792, 1);
}.e66_2620 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:281.505126953125px;
	height:180px;
	position:absolute;
	left:25.74735450744629px;
	top:141.77783203125px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2621 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:122px;
	height:38px;
	position:absolute;
	left:50px;
	top:57px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2622 { 
	width:333px;
	height:419px;
	position:absolute;
	left:399px;
	top:2805px;
}.e66_2623 { 
	box-shadow:0px 3.4370369911193848px 6.8740739822387695px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:333px;
	height:419px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:34.37036895751953px;
	border-top-right-radius:34.37036895751953px;
	border-bottom-left-radius:34.37036895751953px;
	border-bottom-right-radius:34.37036895751953px;
}.e66_2624 { 
	width:109px;
	height:38px;
	position:absolute;
	left:49.99995803833008px;
	top:57px;
}.e66_2625 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:109px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2626 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:281px;
	height:259px;
	position:absolute;
	left:26px;
	top:142px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e66_2627 { 
	color:rgba(49.00000087916851, 50.000000819563866, 134.00000721216202, 1);
	width:557px;
	height:47px;
	position:absolute;
	left:106px;
	top:3304px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e66_2628 { 
	width:492px;
	height:242px;
	position:absolute;
	left:138px;
	top:3441px;
}.e66_2630 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:492px;
	height:186px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Roboto;
	text-align:justified;
	font-size:20px;
	letter-spacing:0;
}.e66_2631 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:128px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2636 { 
	width:492px;
	height:229px;
	position:absolute;
	left:138px;
	top:5129px;
}.e66_2637 { 
	width:492px;
	height:229px;
	position:absolute;
	left:0px;
	top:0px;
}.e66_2639 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:492px;
	height:173px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Roboto;
	text-align:justified;
	font-size:20px;
	letter-spacing:0;
}.e66_2640 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:171px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2641 { 
	width:500px;
	height:166px;
	position:absolute;
	left:130px;
	top:5893px;
}.e66_2643 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	width:246px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e66_2644 { 
	color:rgba(62.00000010430813, 73.00000324845314, 153.00000607967377, 1);
	opacity:0.800000011920929;
	width:492px;
	height:110px;
	position:absolute;
	left:8px;
	top:56px;
	font-family:Roboto;
	text-align:justified;
	font-size:20px;
	letter-spacing:0;
}.e66_2645 { 
	width:622px;
	height:144px;
	position:absolute;
	left:73px;
	top:6603px;
}.e66_2646 { 
	color:rgba(89.00000229477882, 103.0000014603138, 176.00000470876694, 1);
	width:288px;
	height:47px;
	position:absolute;
	left:167px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e66_2647 { 
	color:rgba(54.00000058114529, 64.00000378489494, 79.00000289082527, 1);
	opacity:0.6000000238418579;
	width:622px;
	height:28px;
	position:absolute;
	left:0px;
	top:77px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e66_2648 { 
	color:rgba(54.00000058114529, 64.00000378489494, 79.00000289082527, 1);
	opacity:0.6000000238418579;
	width:190px;
	height:21px;
	position:absolute;
	left:216px;
	top:123px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e66_2667 { 
	width:715px;
	height:563.8086547851562px;
	position:absolute;
	left:28px;
	top:77px;
	background-image:url(images/group_213_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2668 { 
	width:283px;
	height:100px;
	position:absolute;
	left:62px;
	top:2831px;
	background-image:url(images/analyst_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2669 { 
	width:493px;
	height:305px;
	position:absolute;
	left:138px;
	top:3876px;
	background-image:url(images/clip_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2670 { 
	width:492px;
	height:392px;
	position:absolute;
	left:136px;
	top:4667px;
	background-image:url(images/tss_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2671 { 
	width:492px;
	height:305px;
	position:absolute;
	left:138px;
	top:5480px;
	background-image:url(images/risk_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2672 { 
	width:492px;
	height:316px;
	position:absolute;
	left:138px;
	top:6224px;
	background-image:url(images/loan_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2673 { 
	width:283px;
	height:100px;
	position:absolute;
	left:425px;
	top:2831px;
	background-image:url(images/web3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2674 { 
	width:283px;
	height:100px;
	position:absolute;
	left:62px;
	top:2382px;
	background-image:url(images/cross_chain_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2675 { 
	width:283px;
	height:100px;
	position:absolute;
	left:425px;
	top:2382px;
	background-image:url(images/efficient_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2676 { 
	width:283px;
	height:100px;
	position:absolute;
	left:62px;
	top:1933px;
	background-image:url(images/safety_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e66_2677 { 
	width:283px;
	height:100px;
	position:absolute;
	left:425px;
	top:1933px;
	background-image:url(images/multisig_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_5 { 
	width:48px;
	height:24px;
	position:absolute;
	left:37px;
	top:39px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_9 { 
	width:228px;
	height:77px;
	position:absolute;
	left:432px;
	top:848px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_11 { 
	width:228px;
	height:77px;
	position:absolute;
	left:108px;
	top:849px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_12 { 
	width:159px;
	height:31px;
	position:absolute;
	left:304px;
	top:6765px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_14 { 
	width:768px;
	height:379px;
	position:absolute;
	left:0px;
	top:997px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_45 { 
	width:577px;
	height:814px;
	position:absolute;
	left:95px;
	top:3381px;
	background-image:url(images/image_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_44 { 
	width:576px;
	height:734px;
	position:absolute;
	left:86px;
	top:5069px;
	background-image:url(images/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e67_48 { 
	width:576px;
	height:734px;
	position:absolute;
	left:86px;
	top:5833px;
	background-image:url(images/image_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}